/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;

}
body {
  margin: 0;
  background: #45badd;
}
#follow {
  position: absolute;
}
button {

  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0,0,0, 0.2);
  cursor: none;
  position: absolute;
}


.button-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background: url('robot.gif');
background-size: contain;
background-position: left center;
background-repeat: no-repeat;
}

button:hover {
  filter: brightness(90%);
  cursor: pointer;

}
button:active {
  transform: scale(0.95);
}


button:disabled {
cursor: default;
filter: brightness(30%);

}

.footer  {
 

  justify-content: center;
  align-items: center;
  
}
p, a {
  color: #ff3482;;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* media query Tablet or smaller */
@media screen and (max-with: 100px) {
  .container {
    
    background-position: center center;
    background-size: cover;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0,0,0, 0.5);
  }
 
}
